* {
	transition: 0.3s;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
/*
body {
	height: 100vh;
	background-color: #1e1e1e;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
    */

/* HEADER */

/* CLOCK */

.clock {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 200px;
	width: 550px;
	background-color: #343434;
	border-radius: 12px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	position: absolute;
}

.clock div {
	height: 170px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: rgba(5, 5, 5, 0.9);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	letter-spacing: 3px;
}

.clock span {
	font-weight: bolder;
	font-size: 60px;
}

.clock span.time {
	font-size: 10px;
}
/*

#my {
	position: relative;
	top: 45vh;
	font-size: 1.3em;
}

#my:hover {
	font-size: 1.45em;
}

abbr {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}
*/
@media screen and (max-width: 620px) {
	.clock {
		flex-direction: column;
		height: 560px;
		width: 170px;
	}
}

body {
	margin: 0;
	overflow: hidden;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.screen {
	flex-shrink: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: white;
}

.screen:nth-child(1) {
	background: #3498db;
}

.screen:nth-child(2) {
	background: #2ecc71;
}

.screen:nth-child(3) {
	background: #e74c3c;
}
