.env
node_modules/
venv/
__pycache__/
custom_textcat_model_v1/
librespot-cache/
custom_textcat_model_v2/
custom_textcat_model_v3/
custom_textcat_model_v4/
combined_textcat_ner_model/
node-js/node_modules/