version: '3.9'

services:
    postgres:
        image: postgres:15
        container_name: postgres
        restart: always
        env_file: .env
        ports:
            - '5432:5432'
        volumes:
            - db_data:/var/lib/postgresql/data

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: backend
        restart: always
        env_file: .env
        ports:
            - '8888:8888'
        depends_on:
            - postgres

volumes:
    db_data:
